<div class="page">
  <nav>
  

  <mat-toolbar color="primary">

    <div class="toolbar-tools">

      <button mat-icon-button routerLink="/">
        <mat-icon fontIcon="home">menu</mat-icon>
      </button>

      <div class="menu">
        <a mat-button [matMenuTriggerFor]="belowMenu">Books</a>
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <button mat-menu-item routerLink="/">List</button>
          <button mat-menu-item routerLink="/create-book">Add</button>
        </mat-menu>

        <button mat-button routerLink="about">About</button>

        <button mat-button routerLink="login" *ngIf="user.isLoggedOut$ | async">Login</button>
        <button mat-button *ngIf="user.isLoggedIn$ | async" (click)="logout()">Logout</button>

      </div>

      <ng-container>
        <button mat-icon-button>
          <mat-icon fontIcon="person">menu</mat-icon>
        </button>

      </ng-container>

    </div>


  </mat-toolbar>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>


  <footer>Footer</footer>


</div>